{% extends 'users/base.html' %}
{% load static %} 
{% block page_title %}Dashboard{% endblock %}

{% block title %} Home Page {% endblock title%}
{% block content %}
    <!-- dashboard inner -->
    <div class="midde_cont">
        <div class="container-fluid">
           
           <div class="row column1">
              <div class="col-md-6 col-lg-3">
                 <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                       <div> 
                          <i class="fa fa-user yellow_color"></i>
                       </div>
                    </div>
                    <div class="counter_no">
                       <div>
                          <p class="total_no"> {{ total_clients }}</p>
                          <p class="head_couter">Total Clients </p>
                       </div>
                    </div>
                 </div>
              </div>
              

                 <div class="col-md-6 col-lg-3">
                 <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                          <div> 
                             <i class="fa fa-chart-pie green_color"></i>
                          </div>
                    </div>
                    <div class="counter_no">
                          <div>
                             <p class="total_no">25%</p>
                             <p class="head_couter">Attendance</p>
                          </div>
                    </div>
                 </div>
              </div>

           
           
  </div>



{% endblock content %}